* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
@media (max-width: 768px) {
  .trigram {
    display: flex;
    justify-content: flex-end;
    background-color: white;
    border: none;
  }
  .nav-link {
    display: none;
  }
  .bottom-link a {
    position: relative;
    left: 90px;
  }
  .main-class {
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin-bottom: 60%;
  }
  .main-class > button {
    position: relative;
    left: -60px;
  }
  button {
    display: flex;
    align-items: center;
  }
  .logo-content .jumbotron-service-logo-icons {
    height: 100%;
    position: absolute;
    bottom: -700px;
    left: -64px;
  }

  .paragraph {
    width: 100%;
    font-size: 15px;
  }
  .elements {
    margin-bottom: 15%;
    width: 100%;
  }
  .steps {
    margin-top: 5%;
    width: 100%;
    justify-content: space-between;
  }
  .step {
    width: 50%;
  }
  .line {
    width: 120px;
    margin-left: 50px;
  }
  .pricing-section {
    margin-bottom: 15%;
  }
  .pricing-card {
    flex-direction: column;
  }
  #card {
    align-items: center;
    width: 90%;
  }
  #card > p {
    text-align: center;
  }
  hr {
    width: 100%;
  }
  .features {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .feature {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 45%;
  }
  .detail {
    width: 85%;
  }
  .about-us {
    width: 78%;
    position: relative;
    top: -60px;
    left: -20px;
  }
  .about-us > .quote {
    left: -10px;
    width: 70%;
  }
  .header {
    position: relative;
    left: -10px;
  }
  .about-us > hr {
    width: 80%;
  }
  .person {
    width: 60%;
    position: relative;
    right: -450px;
    bottom: 200px;
  }
  .mid-header {
    height: 70%;
  }
  .sub-footer {
    margin-left: 5px;
    height: 60%;
  }
  .checkbox > p {
    margin-left: 20px;
    text-align: left;
    width: 90%;
  }
  .link {
    margin-left: 15px;
    align-items: flex-start;
  }
  #firstName {
    width: 70%;
    height: 70%;
  }
  #lastName {
    width: 70%;
    height: 70%;
  }
  #email {
    width: 83%;
    height: 10%;
  }
  #budget {
    width: 70%;
    height: 70%;
  }
  #country {
    width: 70%;
    height: 70%;
  }
  #message {
    width: 83%;
  }
  form {
    height: 60%;
    width: 100%;
    position: relative;
    left: -15px;
    top: -200px;
  }
  .main-footer {
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
  }
  .column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50px;
  }

  #infor {
    width: 40%;
    height: 100%;
  }
}
@media (max-width: 375px) {
  .nav-link {
    display: none;
  }
  .trigram {
    display: flex;
    justify-content: flex-end;
  }
  .main-class {
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin-bottom: 60%;
  }

  .main-class > button {
    position: relative;
    left: -60px;
  }
  button {
    display: flex;
    align-items: center;
  }
  .logo-content .jumbotron-service-logo-icons {
    height: 100%;
    position: absolute;
    margin-bottom: 60px;
    top: 10px;
    left: 0.5rem;
  }
  .elements {
    margin-bottom: 15%;
  }
  .steps {
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
  }
  .step {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .line {
    display: none;
    list-style-type: none;
  }
  .pricing-section {
    margin-bottom: 15%;
  }
  .pricing-card {
    flex-direction: column;
  }
  #card {
    align-items: center;
    width: 90%;
  }
  #card > p {
    text-align: center;
  }
  hr {
    width: 80%;
  }
  .features {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .feature {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 65%;
  }
  .about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  .person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 200px;
    left: 50%;
  }
  .submit {
    margin-left: 50px;
  }
  .link > a {
    display: none;
  }
  .name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5px;
  }
  .main-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 375px;
    gap: 30px;
  }
  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
  #infor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }
}
