* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
@media (max-width: 768px) {
  .trigram {
    display: flex;
    justify-content: flex-end;
    background-color: white;
    border: none;
  }
  .nav-link {
    display: none;
  }
  .bottom-link a {
    position: relative;
    left: 90px;
  }
  .main-class {
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin-bottom: 50%;
  }
  .main-class > button {
    position: relative;
    left: -40px;
  }
  button {
    display: flex;
    align-items: center;
  }
  .logo-content .jumbotron-service-logo-icons {
    height: 100%;
    position: absolute;
    bottom: -670px;
    left: -20px;
  }
  .logo-content .jumbotron-service-logo-icons .paypal {
    top: 50px;
  }
  .logo-content .jumbotron-service-logo-icons .calendar {
    top: 250px;
    left: 400px;
  }
  .logo-content .jumbotron-service-logo-icons .google-ads {
    top: 200px;
  }
  .logo-content .jumbotron-service-logo-icons .asana {
    top: -100px;
    left: 450px;
  }

  .elements span {
    width: 40rem;
    align-self: center;
    margin-bottom: 30px;
  }

  .steps {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
  }
  .circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 50px;
    background-color: #ecf2ff;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }
  .inner-circle {
    background-color: #0606f5;
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
  }

  .pricing-section {
    margin-bottom: 15%;
  }
  .pricing-card {
    flex-direction: column;
  }
  #card {
    align-items: center;
    width: 90%;
  }
  #card > p {
    text-align: center;
  }
  hr {
    width: 100%;
  }
  .features {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .feature {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 45%;
  }
  .detail {
    width: 85%;
  }
  .about-us {
    width: 78%;
    position: relative;
    top: -60px;
    left: -20px;
  }
  .about-us > .quote {
    left: -10px;
    width: 70%;
  }
  .header {
    position: relative;
    left: -10px;
  }
  .about-us > hr {
    width: 80%;
  }
  .person {
    width: 60%;
    position: relative;
    right: -450px;
    bottom: 200px;
  }
  .mid-header {
    height: 70%;
  }
  .sub-footer {
    margin-left: 5px;
    height: 60%;
  }
  .form {
    position: relative;
    top: -40px;
    left: 35px;
  }
  .main-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
  }
  .column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #infor {
    grid-column: 1 / 1;
    grid-row: 1 / span 2;
  }
}
@media (max-width: 375px) {
  .trigram {
    display: flex;
    justify-content: flex-end;
    background-color: white;
    border: none;
  }
  .nav-link {
    display: none;
  }
  .bottom-link a {
    position: relative;
    left: 90px;
  }
  .main-class {
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin-bottom: 50%;
  }
  .main-class > button {
    position: relative;
    left: -60px;
  }
  button {
    display: flex;
    align-items: center;
  }
  .logo-content .jumbotron-service-logo-icons {
    height: 100%;
    position: absolute;
    bottom: -700px;
    left: -50px;
  }
  .logo-content .jumbotron-service-logo-icons .google {
    left: 55px;
  }
  .logo-content .jumbotron-service-logo-icons .paypal {
    top: 40px;
    left: 40px;
  }
  .logo-content .jumbotron-service-logo-icons .calendar {
    top: 100px;
    left: 300px;
  }
  .logo-content .jumbotron-service-logo-icons .google-ads {
    top: 60px;
  }
  .logo-content .jumbotron-service-logo-icons .asana {
    top: -100px;
    left: 300px;
  }
  .logo-content .jumbotron-service-logo-icons .atlassian {
    left: 200px;
  }
  .logo-content .jumbotron-service-logo-icons .weave {
    top: 0.3rem;
    left: 120px;
  }
  .pricing-section {
    margin-bottom: 15%;
  }
  .pricing-card {
    flex-direction: column;
  }
  #card {
    align-items: center;
    width: 90%;
  }
  #card > p {
    text-align: center;
  }
  hr {
    width: 100%;
  }

  .elements span {
    width: 100%;
    align-self: center;
    margin-bottom: 30px;
  }
  .steps {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  }
  .step {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .feature {
    width: 100%;
    text-align: left;
  }
  .about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .person {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    position: relative;
    left: 10px;
    top: 40px;
  }
  .form {
    max-width: 20rem;
    height: 52rem;
    align-self: center;
    position: relative;
    left: 5px;
  }
  .form input[type="text"],
  .form select,
  .form input[type="email"] {
    width: 18rem;
    align-self: center;
    justify-content: center;
  }
  .form textarea {
    width: 18rem;
  }
  .main-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    max-width: 22.5rem;
  }

  .main-footer .column {
    margin: 10px 0;
  }

  .main-footer .column ul {
    padding: 0;
  }

  .main-footer .column ul li {
    margin: 5px 0;
  }
  #infor {
    text-align: center;
    align-items: center;
  }
}
