body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffffff;
  border-bottom: outset;
}
.trigram {
  visibility: hidden;
}

#logo {
  margin-right: 2rem;
}

#logo img {
  width: 200px;
}

.nav-link {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.nav-link li {
  margin-left: 1.5rem;
}

.nav-link a {
  text-decoration: none;
  color: #666;
}

.nav-link a:hover {
  color: #2e48f1;
}

.nav-link button {
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #007bff;
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.nav-link button:hover {
  background-color: #ffffff;
  color: #007bff;
}
.main-class {
  background-image: url(/assets/bg/background-top.svg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 55vh;
  padding: 20px;
}
.main-class > h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}
p {
  font-size: 1.2rem;
  color: #666;
  max-width: 600px;
  text-align: center;
  margin-bottom: 40px;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #007bff;
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.3s ease;
}
button img {
  margin-right: 10px;
  background-color: white;
  border-radius: 50%;
}

.bottom-link > a {
  position: relative;
  left: 180px;
  bottom: 40px;
  color: #007bff;
  text-decoration: none;
  font-size: 15px;
}

.logo-content .jumbotron-service-logo-icons {
  width: 100%;
  height: 100%;
  position: relative;
  left: 1800px;
  bottom: 350px;
  margin: auto;
}
.logo-content .jumbotron-service-logo-icons .jumbotron-service {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 66px;
  width: 66px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 3px 10px 2px rgb(226, 226, 226);
}
.logo-content .jumbotron-service-logo-icons .google {
  top: -100px;
  left: -150px;
}
.logo-content .jumbotron-service-logo-icons .google-ads {
  top: 300px;
  right: 90px;
}
.logo-content .jumbotron-service-logo-icons .atlassian {
  top: -80px;
  right: -50px;
}
.logo-content .jumbotron-service-logo-icons .asana {
  top: -120px;
  left: 250px;
}
.logo-content .jumbotron-service-logo-icons .paypal {
  top: 150px;
  left: -200px;
}
.logo-content .jumbotron-service-logo-icons .weave {
  top: 150px;
  right: -80px;
}
.logo-content .jumbotron-service-logo-icons .calendar {
  top: 320px;
  left: 250px;
}
.logo-content .jumbotron-service-logo-icons .service-big {
  height: 90px;
  width: 90px;
}
.logo-content .jumbotron-service-logo-icons img {
  width: 50%;
  height: 50%;
}
h1 {
  margin-top: 80px;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
}

.elements {
  margin-top: 80px;
  font-family: sans-serif;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  padding: 10px;
}

#paragraph {
  margin-right: 30px;
  font-size: 1.5rem;
  color: #666;
  max-width: 800px;
  text-align: center;
}

.steps {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 10%;
}

.step > p {
  text-align: center;
  position: relative;
  bottom: -120%;
}
.line {
  position: absolute;
  margin-left: 100px;
  bottom: 8px;
  width: 400px;
  height: 1px;
  background-color: #5c5c5c;
}
.circle {
  position: absolute;
  bottom: 5%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #4285f4;
  box-shadow: 5px 10px 2rem 8px #6a95d9;
  margin-left: 20px;
}
.pricing-section {
  text-align: center;
}
.pricing-section > h3 {
  font-size: 30px;
  margin-bottom: 2rem;
}
.pricing-card {
  display: flex;
  width: 1600px;
  margin: auto;
  gap: 50px;
}
#card {
  display: flex;
  flex-direction: column;
  background-color: #fffefe;
  padding: 40px;
  height: 100%;
  width: 500px;
  border-style: outset;
  border-radius: 4px;
  margin-left: 30px;
  margin-bottom: 20px;
}
#card > p {
  text-align: left;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.pricing-card .feature img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.pricing-card .feature h4 {
  margin-bottom: 5px;
}
.pricing-card h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.pricing-card .price {
  font-size: 2.5em;
  font-weight: bold;
  color: #333;
}

.pricing-card .price-period {
  font-size: 1.2em;
  color: #666;
}

.pricing-card hr {
  border-top: 1px solid #ddd;
  margin: 20px 0;
}

.pricing-card p {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
}

.pricing-card button {
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #007bff;
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  width: 180px;
}
.mid-header {
  margin-top: 70px;
  font-family: sans-serif;
  color: #fff;
  background-color: #032264;
  padding: 30px;
  border-radius: 5px;
  min-width: 100%;
  height: 80vh;
}
.header {
  color: white;
  text-align: left;
}
.mid-header > p {
  color: white;
}
.about-us {
  position: relative;
  bottom: -50px;
  left: 20%;
}
.about-us > p {
  text-align: left;
}
.quote {
  border-top: 5px solid #ccc;
  padding-left: 15px;
  margin-bottom: 20px;
  width: 20%;
}
.quote > img {
  border-radius: 50%;
}
.quote > p {
  text-align: left;
}
.quote > .description {
  color: white;
  text-align: left;
  font-style: italic;
}
form {
  background-color: #fff;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 62vh;
  height: 90%;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 50%;
  top: -500px;
}

.name > p {
  font-size: 20px;
  margin-bottom: 50px;
  font-weight: bold;
  text-align: left;
}

.name .row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.name .row > div {
  flex: 1;
  margin-right: 15px;
}

.name input[type="email"] {
  width: 75%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.name input[type="text"] {
  width: 50%;
  padding: 8px;
  margin-bottom: 15px;
  margin-top: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.name select {
  width: 50%;
  padding: 8px;
  margin-bottom: 15px;
  margin-top: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.name textarea {
  width: 75%;
  height: 100px;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.checkbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  color: #232426;
  width: 70%;
}

.link {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}
.author {
  font-style: italic;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  text-align: left;
  color: white;
}

.submit {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 150px;
  margin-top: 45px;
  margin-left: 150px;
}
footer {
  background-color: #ffffff;
}

.main-footer {
  width: 1600px;
  margin: 0 auto;
  display: flex;
  gap: 40px;

  color: #5c5c5c;
}

.logo {
  display: flex;
  flex-direction: column;
}
#infor {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.logo img {
  width: 100px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
}
.text-logo img {
  width: 20px;
}

.column {
  flex: 1;
  margin: 0 20px;
}

.column > h3 {
  margin-bottom: 10px;
  font-weight: bold;
}

.column ul {
  list-style: none;
  color: black;
  padding: 0;
}

.column li {
  margin-bottom: 5px;
}

.column a {
  color: #007bff;
  text-decoration: none;
}

.column a:hover {
  text-decoration: underline;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  margin-right: 10px;
}
