* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffffff;
  border-bottom: outset;
}
.trigram {
  display: none;
}
#logo {
  margin-right: 2rem;
}

#logo img {
  width: 200px;
}

.nav-link {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.nav-link li {
  margin-left: 1.5rem;
}

.nav-link a {
  text-decoration: none;
  color: #666;
}

.nav-link a:hover {
  color: #2e48f1;
}

.nav-link button {
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #007bff;
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.nav-link button:hover {
  background-color: #ffffff;
  color: #007bff;
}
.main-class {
  background-image: url(/assets/bg/background-top.svg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 55vh;
  padding: 20px;
}
.main-class > h1 {
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  text-align: left;
}
p {
  font-size: 1.2rem;
  color: #666;
  max-width: 600px;
  text-align: center;
  margin-bottom: 40px;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #007bff;
  background-color: #007bff;
  border-radius: 20px;
  transition: all 0.3s ease;
}
button [name="play"] {
  margin-right: 10px;
  color: white;
  background: white;
  border-radius: 50%;
}

.bottom-link > a {
  position: relative;
  left: 180px;
  bottom: 30px;
  color: #007bff;
  text-decoration: none;
  font-size: 15px;
}

.logo-content .jumbotron-service-logo-icons {
  width: 30%;
  height: 100%;
  position: absolute;
  left: 60%;
  bottom: -250px;
}
.logo-content .jumbotron-service-logo-icons .jumbotron-service {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 66px;
  width: 66px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 3px 10px 2px rgb(226, 226, 226);
}
.logo-content .jumbotron-service-logo-icons .google {
  top: -100px;
  left: 150px;
}
.logo-content .jumbotron-service-logo-icons .google-ads {
  top: 250px;
  left: 200px;
}
.logo-content .jumbotron-service-logo-icons .atlassian {
  top: -80px;
  left: 300px;
}
.logo-content .jumbotron-service-logo-icons .asana {
  top: -120px;
  left: 500px;
}
.logo-content .jumbotron-service-logo-icons .paypal {
  top: 100px;
  left: 130px;
}
.logo-content .jumbotron-service-logo-icons .weave {
  top: 100px;
  left: 350px;
}
.logo-content .jumbotron-service-logo-icons .calendar {
  top: 300px;
  left: 500px;
}
.logo-content .jumbotron-service-logo-icons .service-big {
  height: 90px;
  width: 90px;
}
.logo-content .jumbotron-service-logo-icons img {
  width: 50%;
  height: 50%;
}
h1 {
  margin-top: 80px;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
}

.elements {
  display: flex;
  flex-direction: column;
  margin-top: var(--size-150);
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  padding: 10px;
}

.elements span {
  width: 50rem;
  align-self: center;
  margin-bottom: 50px;
}

.steps {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}
.circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 50px;
  background-color: #ecf2ff;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.inner-circle {
  background-color: #0606f5;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
}
.pricing-section {
  text-align: center;
}
.pricing-section > h3 {
  font-size: 30px;
  margin-bottom: 2rem;
}
.pricing-card {
  display: flex;
  max-width: 1500px;
  margin: auto;
  gap: 50px;
}
#card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fffefe;
  padding: 50px;
  height: 100%;
  width: 500px;
  border-style: outset;
  border-radius: 4px;
  margin-left: 30px;
  margin-bottom: 20px;
}
#card > p {
  text-align: left;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.detail {
  width: 70%;
}
.pricing-card .feature img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.pricing-card .feature h4 {
  margin-bottom: 5px;
}
.pricing-card h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.pricing-card .price {
  font-size: 2.5em;
  font-weight: bold;
  color: #333;
}

.pricing-card .price-period {
  font-size: 1.2em;
  color: #666;
}

.pricing-card p {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
}

.pricing-card button {
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #007bff;
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  width: 180px;
}
.mid-header {
  margin-top: 60px;
  font-family: sans-serif;
  color: #fff;
  background-color: #032264;
  padding: 30px;
  border-radius: 5px;
  width: 100%;
  height: 80vh;
}
.sub-footer {
  max-width: 1500px;
  margin-left: 200px;
  height: 72vh;
}
.header {
  color: white;
  text-align: left;
}
.mid-header > p {
  color: white;
}
.about-us {
  position: relative;
  top: -10px;
  left: 30px;
}
.about-us > p {
  text-align: left;
}
.about-us > hr {
  width: 25%;
  margin: 50px;
  margin-left: 10px;
}
.quote {
  padding-left: 15px;
  margin-bottom: 20px;
  width: 20%;
}
.person {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.person > img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}
.person > p {
  text-align: left;
}
.quote > .description {
  color: white;
  text-align: left;
  font-style: italic;
}
.form {
  margin-top: 2rem;
  background-color: #ffffff;
  max-width: 32rem;
  height: 45rem;
  border-radius: var(--size-10);
  position: relative;
  left: 60%;
  top: -550px;
}

.form p {
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5rem;
  text-align: left;
}

.form input,
.form select,
.form textarea,
.form div {
  border-radius: var(--size-10);
}

.form input[type="text"],
.form select,
.form textarea {
  width: 11.25rem;
  height: 2.25rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1.2rem;
  border: 1px solid #dee3e7;
}
.form input[type="email"] {
  width: 25rem;
  height: 2.25rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1.2rem;
  border: 1px solid #dee3e7;
}

.form select {
  width: 11.65rem;
}

.form textarea {
  width: 25.5rem;
  height: 11.5rem;
}

input[type="checkbox"] {
  width: 2rem;
  height: 1.5rem;
  margin-left: 1rem;
}

.check {
  margin-right: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-around;
}

.form label {
  color: #677788;
}

.privacy {
  text-align: center;
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 700;
  font-size: var(--size-16);
  line-height: 1.375rem;
  margin-bottom: 1.5rem;
}

.privacy a:nth-child(1) {
  margin-right: var(--size-16);
  color: #677788;
}

.getstarted {
  display: flex;
  justify-content: center;
}

.author {
  font-style: italic;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  text-align: left;
  color: white;
}

footer {
  background-color: #ffffff;
  width: 100%;
}

.main-footer {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  gap: 50px;
  padding: 30px;
  color: #5c5c5c;
  height: 50%;
}

.logo {
  display: flex;
  flex-direction: column;
}
#infor {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.logo img {
  width: 100px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
}
.text-logo > a {
  color: #007bff;
  text-decoration: none;
}

.column {
  flex: 1;
  margin: 0 20px;
}

.column > h3 {
  margin-bottom: 10px;
  font-weight: bold;
}

.column ul {
  list-style: none;
  padding: 0;
}

.column li {
  margin-bottom: 5px;
}

.column a {
  color: #322f2f;
  text-decoration: none;
}

.column a:hover {
  text-decoration: underline;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  margin-right: 10px;
}
